.L3eUgb {
  background: url(https://images5.alphacoders.com/121/1217672.jpg) center center !important;
  background-size: cover !important;
}
.o3j99 {
  background: transparent !important;
}
div.gb_ua.gb_3d.gb_6a.gb_aa.gb_Fc.gb_Rc {
  opacity: 35% !important;
}
div.KxwPGc.SSwjIe {
  display: none !important;
}

#SIvCob {
  display: none !important;
}

a.MV3Tnb {
  display: none !important;
}

div.uU7dJb {
  display: none !important;
}

a.MV3Tnb {
  display: none !important;
}

div.gb_Fa.gb_6d.gb_8a.gb_g.gb_Jc.gb_Uc {
  background-color: #00000000 !important;
}

div.gb_Fa.gb_Ed.gb_8a.gb_g.gb_Jc.gb_Uc {
  background-color: #00000000 !important;
}

div.gb_Ia.gb_n.gb_ab.gb_g.gb_Lc.gb_Wc {
    background-color: #00000000 !important;
}
