`
.L3eUgb {
	background: url(https://images5.alphacoders.com/121/1217672.jpg) center center !important;
	background-size: cover !important;
}
.o3j99 {
  background: transparent !important;
}
div.gb_ua.gb_3d.gb_6a.gb_aa.gb_Fc.gb_Rc {
  opacity: 35%;
}
div.KxwPGc.SSwjIe {
  display: none
}

#SIvCob {
  display: none;
}

a.MV3Tnb {
  display: none;
}

div.uU7dJb {
  display: none;
}
`
