.L3eUgb {
  background: url(https://raw.githubusercontent.com/CarolusV/Hosts/master/AdGuard/Extensiones/Google/wallpapers/1.jpg) center center !important;
  background-size: cover !important;
}

.o3j99 {
  background: transparent !important;
}

div.KxwPGc.SSwjIe {
  display: none !important;
}

#SIvCob {
  display: none !important;
}

a.MV3Tnb {
  display: none !important;
}

div.uU7dJb {
  display: none !important;
}

a.MV3Tnb {
  display: none !important;
}
